<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> {{ eventName }} </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label for="name"> Imię: </label>
                <input id="name" 
                       formControlName="name" 
                       placeholder="Podaj imię" 
                       type="text" 
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="email"> Adres e-mail: </label>
                <input id="email" 
                       formControlName="email" 
                       placeholder="Podaj adres e-mail" 
                       type="email" 
                       class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" 
                    class="btn btn-success"
                    [disabled]="form.invalid"> Zapisz się! </button>
            <button type="submit" 
                    class="btn btn-default" 
                    data-dismiss="modal"
                    (click)="onCancel()"> Anuluj </button>
        </div>
    </form>
</ng-template>
  
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Zapisz się!</button>