<nav class="navbar navbar-expand-lg navbar-light bg-light bottom-margin">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/events">Wszystkie wydarzenia <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-link" routerLink="/add-new-event">Dodaj nowe wydarzenie <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </nav>