<div class="card-padding bottom-margin" *ngFor="let event of events">
  <div class="card border-success">
    <div class="card-header">
        <span class="float-left">{{ event.eventName }}</span>
        <span class="float-right">{{ event.place }}</span>
        <span class="float-none"></span>
    </div>
    <div class="card-body">
      <p class="card-text"> {{ event.description }} </p>
      <p class="card-text">
        <small class="text-muted">Zapisy do: {{ event.eventDate | date: 'dd/MM/yyyy' }} </small>
      </p>
      <participants [eventId]="event.eventId"></participants>
    </div>
    <div class="card-footer bg-transparent border-success text-center">
      <sign-up-for-event [eventId]="event.eventId" [eventName]="event.eventName" (onSignupDone)="onSignUpClose($event)"></sign-up-for-event>
    </div>
  </div>
</div>
