<div class="card">
    <ul class="list-group list-group-flush" *ngFor="let participant of participants">
        <li class="list-group-item">
            <span class="font-weight-bold"> {{ participant.name }} </span>
            -
            <span> {{ participant.email }} </span>
            <button type="button" class="close" aria-label="Close" (click)="onQuitEvent(participant.name)">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    </ul>
</div>